{% extends 'base.html' %}

{% block title %}Программист Димитрий | Главная{% endblock %}
{% block content %}
<main class="vh-100 px-5 р-80">
    <h1>Привет, меня зовут Димитрий</h1>
    <p class="lead">Вот уже несколько лет я занимаюсь разработкой программного обеспечения. Тут Вы можете ознакомиться с моими работами и заказать персональную разработку</p>
    <p class="lead">
      <a href="/portfolio" class="btn btn-lg btn-secondary fw-bold border-white main-button">Посмотреть</a>
    </p>
</main>
{% endblock %}